<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://fgcucdn.fgcu.edu/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../styles/compDashboard.css"/>
        <title>Company Dashboard</title>
    </head>
    <body>
        <form>
            <label for="company">Company:</label><br>
            <input type="text" id="company" name="company" /><br><br>

            <label for="role">Role:</label><br>
            <input type="text" id="role" name="role" /><br><br>

            <label for="about-job">About the Job:</label><br>
            <textarea id="about-job" name="about-job"></textarea><br><br>
            
            <label for="value">Value:</label><br>
            <textarea id="value" name="value"></textarea><br><br>
            
            <label for="responsibilities">Responsibilities:</label><br>
            <textarea id="responsibilities" name="responsibilities"></textarea><br><br>
            
            <label for="about-you">About You:</label><br>
            <textarea id="about-you" name="about-you"></textarea><br><br>
            
            <label for="about-us">About Us:</label><br>
            <textarea id="about-us" name="about-us"></textarea><br><br>
            
            <label for="qualifications">Qualifications:</label><br>
            <textarea id="qualifications" name="qualifications"></textarea><br><br>
            
            <button id="submit-button" type="submit" value="Submit">Create Internship Form</button>
        </form>
        <script type="text/javascript" src="../controllers/compDashboard.js"></script>
    </body>
</html>